<plugin start="true">
	<uid>my-aibench-application</uid>
	<name>my-aibench-application</name>
	<version>0.1.0-SNAPSHOT</version>
	
	<lifecycleclass>org.sing_group.rnaseq.aibench.Lifecycle</lifecycleclass>

	<dependencies>
		<dependency uid="aibench.workbench"/>
		<dependency uid="aibench.core"/>
	</dependencies>

	<extensions>
		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Bowtie2BuildIndex"
		>
			<operation-description
				name="Build bowtie2 index"
				uid="operations.bowtie2buildindex"
				path="1@Genome"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Bowtie2ImportIndex"
		>
			<operation-description
				name="Import bowtie2 index"
				uid="operations.bowtie2importindex"
				path="1@Genome"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Hisat2BuildIndex"
		>
			<operation-description
				name="Build hisat2 index"
				uid="operations.hisat2buildindex"
				path="1@Genome"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Hisat2ImportIndex"
		>
			<operation-description
				name="Import hisat2 index"
				uid="operations.hisat2importindex"
				path="1@Genome"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Bowtie2AlignSamples"
		>
			<operation-description
				name="Bowtie2 align samples"
				uid="operations.bowtie2alignsamples"
				path="2@Align"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.Hisat2AlignSamples"
		>
			<operation-description
				name="Hisat2 align samples"
				uid="operations.hisat2alignsamples"
				path="2@Align"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.SamtoolsConvertToBam"
		>
			<operation-description
				name="Convert sam to sorted bam"
				uid="operations.samtoolsconvertsamtobam"
				path="3@Convert/1@Samtools"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.SamtoolsBatchConvertToBam"
		>
			<operation-description
				name="Batch convert sam to sorted bam"
				uid="operations.operations.samtoolsbatchvonvertsamtobam"
				path="3@Convert/2@Samtools"
			/>
		</extension>
		
		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.StringTie"
		>
			<operation-description
				name="Reconstruct transcripts using StringTie"
				uid="operations.stringtie"
				path="4@Transcripts/1@StringTie"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.StringTieLabeled"
		>
			<operation-description
				name="Reconstruct labeled transcripts using StringTie"
				uid="operations.stringtielabeled"
				path="4@Transcripts/1@StringTie"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.StringTieMerge"
		>
			<operation-description
				name="Merge transcripts using StringTie"
				uid="operations.stringtiemerge"
				path="4@Transcripts/2@StringTie"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.batch.StringTieBatch"
		>
			<operation-description
				name="Batch reconstruct transcripts using StringTie"
				uid="operations.stringtiebatch"
				path="4@Transcripts/3@StringTie"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.batch.StringTieLabeledBatch"
		>
			<operation-description
				name="Batch reconstruct labeled transcripts using StringTie"
				uid="operations.stringtielabeledbatch"
				path="4@Transcripts/3@StringTie"
			/>
		</extension>
		
		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.HtseqCountBam"
		>
			<operation-description
				name="Calculate reads counts using htseq-count"
				uid="operations.htseqcountbam"
				path="5@Reads/1@HtseqCount"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.BallgownDifferentialExpressionAnalysis"
		>
			<operation-description
				name="Differential expression analysis with Ballgown"
				uid="operations.ballgowndifferentialexpressionanalysis"
				path="6@Differential Expression"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.EdgeRDifferentialExpressionAnalysis"
		>
			<operation-description
				name="Differential expression analysis with EdgeR"
				uid="operations.edgerdifferentialexpressionanalysis"
				path="6@Differential Expression"
			/>
		</extension>


		<!-- Workflow operations -->
		
		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.workflow.BowtieStringTieAndRDifferentialExpressionOperation"
		>
			<operation-description
				name="DE Workflow: bowtie2, StringTie and R (ballgown/edgeR)"
				uid="operations.bowtiestringtiedifferentialexpression"
			/>
		</extension>

		<extension
			uid="aibench.core" name="aibench.core.operation-definition"
			class="org.sing_group.rnaseq.aibench.operations.workflow.HisatStringTieAndBallgownDifferentialExpressionOperation"
		>
			<operation-description
				name="DE Workflow: hisat2, StringTie and ballgown"
				uid="operations.hisatstringtiedifferentialexpression"
			/>
		</extension>

		<!--		
		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<view
				name="view name"
				datatype="datatype-class"
				class="view-class"
				help="datatype-class"
			/>		
		</extension>
		-->
		
		<extension uid="aibench.workbench" name="aibench.workbench.view">
		    <gui-operation
				operation="operations.bowtie2alignsamples"
				class="org.sing_group.rnaseq.aibench.gui.dialogs.Bowtie2AlignSamplesParamsWindow"
		    />
		    <gui-operation
				operation="operations.hisat2alignsamples"
				class="org.sing_group.rnaseq.aibench.gui.dialogs.Hisat2AlignSamplesParamsWindow"
		    />
		    <gui-operation
				operation="operations.ballgowndifferentialexpressionanalysis"
				class="org.sing_group.rnaseq.aibench.gui.dialogs.BallgownDifferentialExpressionAnalysisParamsWindow"
		    />
		    <gui-operation
				operation="operations.edgerdifferentialexpressionanalysis"
				class="org.sing_group.rnaseq.aibench.gui.dialogs.EdgeRDifferentialExpressionAnalysisParamsWindow"
		    />
		</extension>		

		<!--
		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<icon-operation
				operation="operation-uid"
				icon="icons/icon.png"
			/>
			<big-icon-operation	
				operation="operation-uid"
				icon="icons/icon.png"
			/>
			<icon-datatype
				datatype="datatype-class"
				icon="icons/icon.png"
			/>
		</extension>
		-->
		
		<extension uid="aibench.workbench" name="aibench.workbench.view" >
			<component 
				slotid="bottom" 
				componentid="referencegenomemanager" 
				name="Reference genomes" 
				class="org.sing_group.rnaseq.aibench.gui.components.ReferenceGenomeManagerComponent"
			/>
		</extension>
		
		<extension uid="aibench.workbench" name="aibench.workbench.view" >
			<welcomescreen class="org.sing_group.rnaseq.aibench.gui.workflow.AIBenchWorkflowCatalogPanel" title="Workflow catalog" closeable="false"/>
		</extension>
	</extensions>
</plugin>
